/* Dropdown Button */
.dropbtn {
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: left;
  font-family: "Frank Ruhl Libre", Helvetica, Arial, sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: large;
  height:2500px;
  overflow-y:scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 3px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:link {color: #FFCC00}
.dropdown-content a:visited {color: #FFCC00}
.dropdown-content a:hover {background-color: #1144AA}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
