body {
  margin: 0;
}

.eu {
  background-color: #003399;
  color: #FFCC00;
}

.paper {
  background-color: #F8ECC2;
  color: #3a2d1c;
  font-family: "Cormorant", "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
  text-align: center;
}

.header {
  padding: 12px;
  font-size: small;
}

.fronttitle {
  padding: 12px;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 64px;
}

.subtitle {
  padding: 24px;
  text-align: center;
  font-size: large;
}

.blurb{
  padding: 24px;
  font-size: small;
}

.toc{
  padding: 24px;
  font-size: larger;
  text-decoration: none;

}

.toc a:link {color: #3a2d1c}
.toc a:visited {color: #3a2d1c}
.toc a:link {
  text-decoration: none;
}

.toc a:visited {
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.toc a:active {
  text-decoration: underline;
}
.pagenum {
  position: fixed;
  top: 0px;
  right: 20px;
}

.content {
  text-align: center;
  font-size: larger;
  font-family: "Cormorant", "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
}

.content .title {
  font-size: xx-large;
  padding: 10px;
}


